

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.container-taller {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}
.card {
    background-color: #2a50df;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin: 0 10px 20px 0;
    position: relative;
    transition: transform 0.3s;
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
}

.content {
    padding: 20px;
    background-color: #2a50df;
    color: white;
    text-align: left;
    position: relative;
    transition: transform 0.7s;
    flex-grow: 1;
}

.h2-card, .h3-card {
    margin: 10px 0;
}

.p-card {
    margin: 5px 0;
    font-size: 14px;
}

.h2-card {
    font-size:20px;
    font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
}

.h3-card {
    font-size:15px;
    font-family:helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.p-card:first-of-type {
    font-size:13px; 
    line-height:1.3em; 
    text-align:justify;
    font-family:wfont_33ede3_77af2a9b23fe41d1ab33c9e52d20663b,wf_77af2a9b23fe41d1ab33c9e52,orig_montserratlight!important;
}

.button-wrapper {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    text-align: center;
    transition: bottom 0.3s;
}

.button-card {
    background-color: white;
    color: #2a50df;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}

.button-card-taller {
    background-color: white;
    color: #3FA152;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}



.card:hover .button-wrapper {
    bottom: -10px;
}

.button-card:hover  {
    box-shadow: 0 4px 8px rgba(0.9, 0.5, 0.5, 0.9);
}

.card:hover {
    transform: translateY(-2px);
}

.content:hover {
    transform: translateY(-60px);
}

.card:hover .content,
.card:hover .img-wrapper .content {
    transform: translateY(-60px);
}

.section-divider {
    width: 100%;
    background-color: #0a3b7e; /* Color de fondo azul oscuro */
    color: white;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.section-divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #ffd700; /* Color de la línea amarilla */
}

.divider-content {
    max-width: 800px;
    margin: 0 auto;
}

.divider-icon {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.h1-divider {
    font-family:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    font-size:18px; line-height:1em; text-align:center;
}

.h2-divider {
    color:rgb(255, 255, 255); font-family:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif; font-size:21px;
}

.img-wrapper {
    max-width: 100%;
}



.carrusel-container {
    position: relative;
    width: 100%; /* Asegura que el carrusel ocupe el 100% del ancho disponible */
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height: 700px; /* Ajusta la altura según sea necesario */
}

.carrusel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Asegura que las imágenes ocupen el espacio correcto */
}

.slide {
    min-width: 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* Mantén la altura uniforme */
    position: relative; /* Para posicionar el texto dentro de la imagen */
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
    height: auto;
    object-fit: contain; /* Mantiene la proporción de la imagen y la renderiza completa */
    object-position: center; 
}

.slide-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    font-family: 'Times New Roman', Times, serif;
}

.slide-text h2 {
    font-size: 60px;
    font-weight: bold;
    color: #FFDD00; /* Color amarillo del texto */
    white-space: nowrap; /* Evita saltos de línea en el título */
    overflow: hidden; /* Oculta cualquier texto que se salga del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
    background-color: #041f3e;
}

.slide-text p {
    padding: 10px;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: #041f3e; /* Texto blanco para el párrafo */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


#Separator
.separator {
    padding: 10px;
    width: 100%;
}

.line {
    width: 100%;
    height: 10px; /* Ajusta el alto de las líneas según sea necesario */
}

.yellow {
    background-color: #FFD700; /* Color amarillo */
}

.blue {
    background-color: #003366; /* Color azul oscuro */
}



#Cursos
.cursos-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: blanchedalmond;
}

.cursos-container h2 {
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'lulo-clean-w01-one-bold', 'lulo-clean-w05-one-bold', sans-serif;
    font-size: 18px;
    line-height: 1em;
    font-weight: bold;
    color: white;
    background-color: #003366; /* Color azul oscuro */
}

/* Estilo para las imágenes en 3 columnas */
.cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
    gap: 20px; /* Espacio entre imágenes */
}

.curso {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.curso img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 600px;
    max-height: 600px;
}

.curso img:hover {
    top: 50%;
    left: 50%;
    transform: scale(1.2); /* Centra y escala la imagen */
    z-index: 1000; /* Coloca la imagen por encima de otros elementos */
    width: auto; /* Deja que la imagen crezca */
    height: auto;
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.7s ease-in-out; /* Suaviza la transición */
    border-radius: 10px;
}



